{% extends 'base.html' %}

{% block main %}
{% load static %}


    <!--
      OBS, para calculos no JS é utilizado as campos das seguntes tags
        tag CLASS  vai os campos para somar, multplica e etc..
        tag ID vira os resultados
    -->

  <form class="formAtualizaCarrinho"
        action="{% url 'confirmaAlteraItensDoCarrinho' altera_carrinho.id %}"
        method="POST">
      {% csrf_token %}

    <h1 id="titulo_pedido"> Atualizar Carrinho </h1>


    <div class = "produtoEscolhido">

        <input id="campoId"
               class ="IdItem"
               name="produto"
               type="hidden"
               value = "{{ altera_carrinho.id }}" >

        {% if altera_carrinho.produto.foto %}
            <img class = "imagemProdutoEscolhido"
             src =" {{ altera_carrinho.produto.foto.url }} " />
        {% else %}
            <img class = "imagemProdutoEscolhido"
             src =" {{ altera_carrinho.produto.url_imagem }} " />

        {% endif %}


        <div id = "formataLetra">
            <p id = "linha1" > {{ altera_carrinho.produto.bebida }} </p>
            <p id = "linha2" > {{ altera_carrinho.produto.complemento }} </p>
            <p id = "linha3" > {{ altera_carrinho.produto.tamanho }} </p>

          <div id =inputValorUnitario>
            <label> R$  </label>
            <input id="campoValorUnitario"
                   class ="valorItem"
                   name="valor_unitario"
                   type="number"
                   step="0.01"
                   value = "{{ altera_carrinho.valor_unitario }}" >

            <!--
            <input id="campoValorUnitario2"
                   class ="valorItem"
                   type="text"
                   value = "{{ itemNoCarrinho.valor }}" >
                   -->
          </div>


          <div id =inputQuantidade>



            <label>Quantidade  </label>
            <input id="campoQuantidade"
                   class="quantidadeItens"
                   name="quantidade"
                   type="number"
                   value="{{altera_carrinho.quantidade|floatformat:0 }}">
                   <!-- onclick="funcao_valor_total()" -->

            <a class="botaoMaisUm" id="botaoMaisUm"
               href ="#"
               onclick = "botaoMaisUm()"
               title=""> + 1 </a>

            <a class="botaoMenosUm" id="botaoMenosUm"
               href ="#"
               onclick = "botaoMenosUm()"
               title=""> - 1 </a>


          </div>

          <!-- RESULTADO DO TOTAL DE ITENS COM VALOR UNITARIO- FEITO NO JS -->
          <div id="inputCampoTotal">
            <label>TOTAL R$  </label>
            <input id="campoTotal"
                       class ="valor_total_itens"
                       name="valor_total_item"
                       type="number"
                       resultado = "readonly"
                       step="0.01"
                       value = "{{altera_carrinho.valor_total_item}}">

            <!--
            <input id="campoTotal2"
                       class ="valor_total_itens"
                       type="text"
                       resultado = "readonly"
                       step="0.01"
                       value = "{{itemNoCarrinho.valor }}">
                       -->


          </div>

          <div id = "alinhabotoes">

            <a id="continuarComprando"
                href = "{% url 'itensDoCarrinho'%} "> << RETORNAR SEM ATUALIZAR  </a>

            <button type="submit" class="botaoAtualizarProduto" id = "botaoAtualizarProduto">
                Atualizar Produto
            </button>


          </div>

        </div>


    </div>
  </form>

{% endblock %}